<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          {@current_user.email}
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <div class="topnavcontainer">
      <.link navigate={~p"/"} class="link bg-gray-400 hover:bg-gray-200">Home</.link>
      <.link navigate={~p"/scores"} class="link bg-gray-400 hover:bg-gray-200">Scores</.link>
      <.link navigate={~p"/1"} class="link bg-gray-400 hover:bg-gray-200">Guessing Game</.link>
      <.link navigate={~p"/2"} class="link bg-gray-400 hover:bg-gray-200">Math Game</.link>
      <.link navigate={~p"/3"} class="link bg-gray-400 hover:bg-gray-200">Rock Paper Scissors</.link>
      <.link navigate={~p"/4"} class="link bg-gray-400 hover:bg-gray-200">
        Wordle
      </.link>
    </div>
    {@inner_content}
  </body>
</html>

<script defer type="text/javascript" src={~p"/assets/app.js"}></script>

<style>
  .topnavcontainer {
    align-items: center;
    justify-content: center;
    display:flex;
    border: 2px solid rgb(95 97 110);
    background:gray;
    margin: auto;
    max-width: fit-content;
  }

  .link{
    padding:5px;
    margin:3px;
  }

  font {
    padding-left: 10%;
  }

  .top_image {
    display: block;
    margin: auto;
    width: 100%;
  }
</style>
