@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

a {
  cursor: pointer; /* hand icon */
  text-decoration: none; /* optional, remove underline initially */
  /* color: blue; optional default link color */
}

a:hover {
  text-decoration: underline; /* underline on hover */
  color: rgb(139, 0, 30); /* or any hover color you want */
}